header, footer {
  background-color: #282828;
  position: fixed;
  padding: 20px 0;
  box-sizing: border-box;
  color: #c1c3c2;
  width: 100%;
}

@mixin backgroundred {
  background-color: rgb(72, 0, 255);
  border: 1px solid rgb(0, 255, 242);
  font-size: 20px;
}


.layout_a {
  color: #c1c3c1;
  &:hover {
    text-decoration: underline;
    color: #ffffff;
    @include backgroundred
  }
}


header {
  top: 0;
}

footer {
  bottom: 0;
}

header img {
  width: 250px;
  display: block;
}

img {
  width: 100%;
}

.same-height {
  max-height: 154px;
  overflow: hidden;
}

.float {
  display: inline;
  max-width: 15%;
}